body *{
    font-family: 'Roboto', sans-serif;
    text-align: justify;
  }
  
  h1 {
    font-size: 60px;
    font-weight: 400;
    font-family: 'Allerta Stencil', sans-serif;
  }

  h2 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
  }
  
  body {
    background-color: white;
  }
  
  .subtitle {
    background-color: grey;
  }

  .page {
    width: 1300px;
    background-color: white;
    margin: auto;
    padding: 50px;
    padding-top: 35px;
  }
  
  .vis-container {
    width: 100%;
    padding: 50 px;
    overflow: scroll;
    border: None;
  }

  .pure-g {
    margin-bottom: 40px;
  }




.node rect {
  cursor: move;
  fill-opacity: .9;
  shape-rendering: crispEdges;
}

.node text {
  pointer-events: none;
  text-shadow: 0 1px 0 #fff;
}

.link {
  fill: none;
  stroke: #000;
  stroke-opacity: .2;
}

.link:hover {
  stroke-opacity: .5;
}
        