body *{
    font-family: 'Roboto', sans-serif;
  }
  
  h1 {
    font-size: 60px;
    font-weight: 400;
    font-family: 'Allerta Stencil', sans-serif;
  }
  
  body {
    background-color: lightgrey;
  }
  
  .page {
    width: 1200px;
    background-color: lightgrey;
    margin: auto;
    padding: 50px;
    padding-top: px;
  }
  
  .vis-container {
    width: 100%;
    max-height: 300px;
    overflow: scroll;
    border: None;
  }

  .pure-g {
    margin-bottom: 40px;
  }