  body *{
    font-family: 'Roboto', sans-serif;
    text-align: left;
  }
  
  h1 {
    font-size: 60px;
    font-weight: 400;
    font-family: 'Allerta Stencil', sans-serif;
  }

  body {
    background-image: url('https://raw.githubusercontent.com/Jngg0093/DataVis2/main/Data%20Visualisation%202/Data/camo.jpg');
    background-size: contain;
  }

  h2 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
  }

  .text1{
    padding: 10px;
  }
  
  .chartTitle{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: medium;
  }

  .subtitle {
    background-color: grey;
  }

  .description {
    font-family: 'Roboto', sans-serif;
    font-size: small;
    padding-left: 10px;
    padding-right: 20px;
    text-align: left;
  }

  .page {
    width: 1100px;
    background-color: white;
    margin: auto;
    padding: 25px;
    padding-top: 35px;
  }
  
  .vis-container {
    width: 100%;
    padding-right: 10px;
    padding-left: 20px;
    border: None;
  }

  .image{
    width: 100%
  }

  .pure-g {
    margin-bottom: 10px;
    width: 100%;
  }